.accounts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.account-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}

.account-card h3 {
    margin-bottom: 10px;
}

.balance {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.account-card button {
    margin-right: 10px;
}
.transactions-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background: white;
}

.transactions-table th,
.transactions-table td {
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
}

.transactions-table th {
    background-color: #f9fafb;
    text-align: left;
}

.tx-DEPOSIT {
    color: green;
    font-weight: bold;
}

.tx-WITHDRAW,
.tx-TRANSFER_OUT {
    color: red;
    font-weight: bold;
}

.tx-TRANSFER_IN {
    color: #2563eb;
    font-weight: bold;
}
.transfer-box {
    background: white;
    max-width: 420px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 12px 25px rgba(0,0,0,0.1);
}

.transfer-box label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 600;
}

.transfer-box select,
.transfer-box input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.transfer-box button {
    margin-top: 20px;
    width: 100%;
}

#message {
    margin-top: 15px;
    font-weight: bold;
}
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.service-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}

.service-card h3 {
    margin-bottom: 10px;
}

.service-card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.requests-table {
    width: 100%;
    margin-top: 15px;
    background: white;
    border-collapse: collapse;
}

.requests-table th,
.requests-table td {
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
}

.status-NEW {
    color: orange;
    font-weight: bold;
}

.status-APPROVED {
    color: green;
    font-weight: bold;
}

.status-REJECTED {
    color: red;
    font-weight: bold;
}
.news-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.news-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}

.news-card h3 {
    margin-bottom: 10px;
}

.news-card p {
    color: #444;
    margin-bottom: 10px;
}

.news-meta {
    font-size: 12px;
    color: #777;
}
